.carousel{
  border: black solid 1px;
  width: 500px;
  height: 500px;
  margin: 0 auto;

  .view-container{
    background-color: black;
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
  }

  .carousel-images{
    position: relative;
    display: flex;
    justify-content: flex-start;
    transition: left 1s;
  }

  // .selected-image img{
  //   box-sizing:border-box;
  //   border: blue solid 5px
  // }


}