.image-container{
  position: relative;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgb(82, 80, 80);
  
  .selected-image{
    box-sizing:border-box;
    border: blue solid 5px
  }

  .image-caption{
    width: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    margin: 0;
    padding: 0;
    &.caption-below{
      top:0;
      position: relative;
    }
  }
}

