.image-selector{
  margin: 0 auto;
  width: 1000px;
  background-color: lavender;
  img{
    width: 100px;
    height: 100px;
  }
  .selected-image{
    box-sizing:border-box;
    border: blue solid 5px;
  }
}
