.image-selector{
  margin: 0 auto;
  width: 400px;
  min-height: 650px;
  border: solid lightgray 1px;
  border-radius: 2%;
  padding: 20px;
  position: relative;

  .images-grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
  }

  .addBtn {
    position: absolute;
    left: 170px;
    bottom: 5px;
    background-color:#44c767;
    border:1px solid #18ab29;
    text-shadow:0px 1px 0px #2f6627;
  }
}
